{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container mt-4">
    <h3>{{ data.Title }} </h3>
    <h2>{{ data.Author }}</h2>
    <div class="d-grid gap-2 mt-3">
        Extension: {{ data.Extension }}
        <br>
        Language: {{ data.Language }}
        <br>
        Pages Number: {{ data.Pages}}
        <br>
        Size: {{ data.Size }}
        <br>
            <a href="{{ data.download_link }}"> Download </a>
      <br>
      <br>
    </div>
</div>


{% endblock %}